/* Menu */

.navbar {
  overflow: hidden;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar .tablinks {
  background-color: inherit;
  float: left;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .tablinks {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Button */

.button {
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  cursor: pointer;
  color: #fff;
  padding: 15px 25px;
  background-color: rgb(119, 119, 219);
  border: none;
  border-radius: 15px;
  outline: none;
  box-shadow: 0 9px #999;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.button:active {
  background-color: rgb(119, 119, 219);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button:hover {
  text-shadow: 0 0 2rem;
  color: aqua;
}

/* text */
.tabcontent {
  display: none;
  text-align: center;
  font-size: 1cm;
  padding-top: 2cm;
}

/* Responsive MENU */
